extends layout
block content
    if !user
        form.well.form-inline.center(method="post",action="/post",style="text-align:center;display:flex")
            textarea.form-control(name="post",placeholder="用户 "+title+" 说：",style="width: 100%;height:70px;")
            !{'&nbsp;'}
            button.btn.btn-success(type="submit") 发言
    else
        div.row
            each post in posts
                div.col-md-4
                    h2
                        a(href="/u/" + post.user) #{post.user}
                        span &nbsp;说
                    p
                        small #{post.time}
                    p   #{post.post}